html{
  font-size: 10px;
  scroll-behavior: smooth;
}
*{
  transition: all .2s;
}
body{
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  background: rgba(255, 255, 255, 0.8);
}
a{
  text-decoration: none;
}
.container{
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}
.text{
  color: $text;
  font-weight: 400;
  line-height: 3rem;
  font-size: 2rem;
}
.logo {
  color: $main;
  font-size: 1.6rem;
  font-weight: 700;
  &:hover{
    color: $accent;
    span{
      color: $main;
    }
  }
  span{
    color: $accent;
  }
}
.title{
  text-align: center;
  padding-bottom: 72px;
  font-size: 3.6rem;
  line-height: 7.2rem;
}
.main-link{
  border: 1px solid $accent;
  border-radius: 28px;
  font-size: 1.6rem;
  padding: 1rem 5rem;
  font-weight: 700;

  color: $accent;
  background-color: #fff;
  &:hover{
    color: $main;

    border: 1px solid $main;
  }
  &:active{
    border: 1px solid darken($main, 5%);
    box-shadow: 0 0 6px $main;
  }
}
.nav {
    &__btn{
      display: none;
    }
		// .nav__list

		&__list {
      display: flex;
      margin-left: 76px;
		}

		// .nav__list-item

		&__list-item {
		}
    &__list-item + &__list-item{
      margin-left: 38px;
    }
    .nav__list-link--active.nav__list-link{
        font-weight: 700;
        &:hover{
          text-decoration: none;
        }
        &::after{
          content: '';
          width: 5px;
          height: 5px;
  
          background-color: $main;
          border-radius: 50%;
          position: absolute;
          left: 50%;
          bottom: -10px;
        }
    }

		// .nav__list-link

		&__list-link {
      color: $main;
      font-size: 1.6rem;
      font-weight: 400;
      position: relative;
      &:hover{
        text-decoration: underline;
      }
		}
}